<aside class="sidebar">
  <div class="sidebar-top">
    <div class="logo">LOGO</div>

    <nav>
      <ul>
        <li><a href="/mentor/jadwal-siswa/jadwal-siswa.html">☎️ Jadwal</a></li>
        <li><a href="/mentor/data-siswa/data-siswa.html">📰 Data Siswa</a></li>
        <li><a href="/mentor/summary/summary.html">🧑 Summary</a></li>
      </ul>
    </nav>
  </div>

  <div class="sidebar-bottom">
    <button class="logout">Logout</button>
    <a class="email" href="/mentor/akun/detail-akun.html" id="mentor-profile-link">👤 mentor1@gmail.com</a>
  </div>
</aside>