<aside class="sidebar">
  <div class="sidebar-top">
    <div class="logo">
      <img src="/assets/img/logo_no_tag.jpeg" alt="Coding Mate Logo">
    </div>

    <nav>
      <ul>
        <li><a href="/admin/jadwal-siswa/jadwal-siswa.html">☎️ Jadwal</a></li>
        <li><a href="/admin/data-siswa/data-siswa.html">📰 Data Siswa</a></li>
        <li><a href="/admin/kredit-level/kredit-level.html">📅 Kredit Level</a></li>
        <li><a href="/admin/summary/summary.html">🧑 Summary</a></li>
        <li><a href="/admin/akun/akun.html">👤 Akun</a></li>
      </ul>
    </nav>
  </div>

  <div class="sidebar-bottom">
    <button class="logout">Logout</button>
    <a class="email" href="/admin/akun/detail-akun.html" onclick="openAdminProfile(event)">👤 admin@gmail.com</a>
  </div>
</aside>
